/* Max width 767px */
@media only screen and (max-width: 767px) {
    .btn {
        font-size: 13px;
        padding: 13px 33px;
    }

    .section-title {
        margin-bottom: 40px;
    }

    .section-title h2 {
        font-size: 20px;
    }

    .main-banner {
        height: 100%;
        padding-top: 150px;
        padding-bottom: 80px;
        background-position: center;
    }

    .main-banner .hero-content {
        margin-bottom: 45px;
        text-align: center;
    }

    .main-banner .hero-content h1 {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .main-banner .banner-image {
        text-align: center;
    }

    .main-banner .banner-image img {
        display: none;
        position: relative;
    }

    .main-banner .banner-image img:last-child {
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .main-banner .banner-form {
        padding: 30px 20px;
        margin: 0 !important;
    }

    .shape1,
    .shape2,
    .shape3,
    .shape4,
    .shape5,
    .shape6,
    .shape7,
    .shape8,
    .shape9,
    .shape10 {
        display: none;
    }

    .services-content .box {
        margin-top: 20px;
    }

    .services-right-image {
        text-align: center;
        margin-top: 45px;
    }

    .services-right-image img {
        display: none;
        position: relative;
    }

    .services-right-image img:last-child {
        display: inline-block;
    }

    .services-right-image.single-right-image img.bg-image {
        display: none;
    }

    .services-left-image {
        text-align: center;
        margin-bottom: 45px;
    }

    .services-left-image img {
        display: none;
        position: relative;
    }

    .services-left-image img:last-child {
        display: inline-block;
    }

    .services-left-image.single-left-image img.bg-image {
        display: none;
    }

    .single-services-box h3 {
        font-size: 17px;
    }

    .funfact {
        margin-bottom: 30px;
    }

    .funfact h3 {
        font-size: 25px;
        margin-bottom: 3px;
    }

    .contact-cta-box {
        text-align: center;
        margin: 20px 0 0;
        max-width: 100%;
        padding: 30px 20px;
    }

    .contact-cta-box h3 {
        font-size: 17px;
    }

    .contact-cta-box .btn {
        position: relative;
        right: 0;
        top: 0;
        margin-top: 15px;
    }

    .ready-to-talk {
        padding-top: 50px;
        padding-bottom: 145px;
    }

    .ready-to-talk h3 {
        font-size: 20px;
    }

    .ready-to-talk span {
        display: block;
        margin-top: 25px;
    }

    .partner-section h5 {
        font-size: 17px;
        line-height: 23px;
    }

    .partner-section .partner-inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-title .sub-title {
        margin-bottom: 15px;
        padding: 4px 15px 3px;
        font-size: 12px;
    }

    .funfacts-area .section-title h2 {
        line-height: 30px;
    }


    .section-title.text-left {
        text-align: center !important;
    }

    .section-title.text-left p {
        margin-left: auto;
        margin-right: auto;
    }


    .footer-area {
        padding-top: 50px;
        margin-top: 10px;
    }
    .index-footer-area {
        margin-top: 205px;
    }

    .single-footer-widget {
        padding: 0 !important;
        margin-bottom: 30px;
    }

    .single-footer-widget h3 {
        font-size: 17px;
        margin-bottom: 20px;
    }

    .copyright-area {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #header.headroom {
        background-color: #ffffff;
        border-bottom: 1px solid #e5e5e5;
        padding: 20px;
    }

    .startp-nav nav .navbar-collapse {
        max-height: 70vh;
    }

    .startp-nav nav .navbar-nav .nav-item {
        padding: 5px 0;
    }

    .startp-nav nav .navbar-nav .nav-item>a {
        margin: 0 0 5px;
    }

    .startp-nav nav .navbar-nav .nav-item .dropdown-menu {
        padding: 10px 0;
        position: relative;
        visibility: visible;
        opacity: 1;
        top: 0;
        width: 120%;
        border: 1px solid #fbfafa;
        margin-bottom: 10px;
    }

    .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a {
        padding: 6px 15px;
    }

    .startp-nav nav .others-option {
        position: absolute;
        right: 45px;
        top: 9px;
    }

    .startp-nav nav .others-option .btn.btn-light {
        border: 1px dashed #cdf1d8;
        display: none;
    }

    .startp-nav nav .others-option .btn.btn-light,
    .startp-nav nav .others-option .btn {
        padding: 6px 12px;
        margin-right: 5px;
        font-size: 10px;
    }

    .startp-nav nav .classOne {
        display: none;
        width: 130vw;
        min-height: auto;
        position: absolute;
        top: 70px;
        background: #ffffff;
        left: -30%;
        padding: 0 70% 0 30%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .startp-nav nav .classTwo {
        display: block;
    }

    .vision img {
        display: none;
    }
    .vision .m-img img {
        display: block !important;
        margin: auto;
    }
}

/* Min width 576px to Max width 677px */
/* @media only screen and (min-width: 576px) and (max-width: 677px) {
    .startp-nav nav .others-option .btn.btn-light {
        display: inline-block;
    }
} */

/* Min width 678px to Max width 767px */
/* @media only screen and (min-width: 678px) and (max-width: 767px) {
    .startp-nav nav .others-option .btn.btn-light {
        display: inline-block;
    }

    .startp-nav nav .classOne {
        left: -40%;
        padding: 0 70% 0 30%;
    }
} */

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-banner {
        height: 100%;
        padding-top: 185px;
        padding-bottom: 165px;
    }

    .main-banner .banner-image {
        text-align: center;
        margin-top: 45px;
    }

    .main-banner .banner-image img {
        position: relative;
        display: none;
    }

    .main-banner .banner-image img:last-child {
        display: block;
    }

    .main-banner .hero-content h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .main-banner .banner-form {
        padding: 50px;
        margin: 45px 0 !important;
    }

    .shape1,
    .shape2,
    .shape3,
    .shape4,
    .shape5,
    .shape7 {
        display: none;
    }

    .section-title h2 {
        font-size: 25px;
    }


    .services-right-image {
        text-align: center;
        margin-top: 45px;
    }

    .services-right-image img {
        display: none;
        position: relative;
    }

    .services-right-image img:last-child {
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .services-right-image.single-right-image img.bg-image {
        display: none;
    }

    .services-left-image {
        text-align: center;
        margin-bottom: 45px;
    }

    .services-left-image img {
        display: none;
        position: relative;
    }

    .services-left-image img:last-child {
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .services-left-image.single-left-image img.bg-image {
        display: none;
    }

    .single-footer-widget {
        margin-bottom: 30px;
    }

    .copyright-area {
        margin-top: 50px;
    }

    .shape9 {
        display: none;
    }

    .section-title.text-left {
        text-align: center !important;
    }

    .section-title.text-left p {
        margin-left: auto;
        margin-right: auto;
    }

    #header.headroom {
        padding: 10px 0;
    }

    .startp-nav nav .navbar-nav .nav-item a {
        font-size: 14px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .startp-nav nav .navbar-nav .nav-item .dropdown-menu {
        width: 200px;
    }

    .startp-nav nav .navbar-nav .nav-item .dropdown-menu li a {
        padding: 6px 15px;
        font-size: 13.5px;
    }

    .startp-nav nav .others-option .btn.btn-light {
        border: 1px dashed #cdf1d8;
        display: none;
    }

    .startp-nav nav .others-option .btn.btn-light,
    .startp-nav nav .others-option .btn {
        padding: 6px 12px;
        margin-right: 5px;
        font-size: 10px;
    }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-banner .hero-content h1 {
        font-size: 35px;
    }

    .main-banner .banner-image img:nth-child(1) {
        top: -140px;
        left: -120px;
    }

    .main-banner .banner-image img:nth-child(2) {
        right: 160px;
        top: -286px;
    }

    .main-banner .banner-image img:nth-child(3) {
        left: -30px;
        top: -15px;
    }

    .main-banner .banner-image img:nth-child(4) {
        right: 15%;
        top: 105px;
    }

    .main-banner .banner-image img:nth-child(5) {
        left: 15%;
        top: -120px;
    }

    .main-banner .banner-image img:nth-child(6) {
        right: 37%;
        top: -160px;
    }

    .main-banner .banner-image img:nth-child(7) {
        right: 20px;
        top: -110px;
    }

    .main-banner .banner-image img:nth-child(8) {
        right: 25px;
        top: -140px;
    }

    .main-banner .banner-image img:nth-child(9) {
        right: 28%;
        top: -25px;
    }

    .main-banner .banner-image img:nth-child(10) {
        left: 29%;
        top: -35px;
    }

    .main-banner .banner-image img:nth-child(11) {
        left: 26%;
        top: -160px;
    }

    .main-banner .banner-image img:nth-child(12) {
        left: 15px;
        top: -110px;
    }

    .main-banner .banner-image img:nth-child(13) {
        left: 50%;
        top: -18px;
    }

    .main-banner .banner-image img:nth-child(14) {
        right: 98px;
        top: -20px;
    }

    .shape1 {
        display: none;
    }

    .startp-nav nav .navbar-nav .nav-item a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .services-left-image.single-left-image img:first-child {
        top: -30px;
    }

    .services-right-image.single-right-image img:first-child {
        top: -30px;
    }

    .startp-nav nav .others-option .btn.btn-light,
    .startp-nav nav .others-option .btn {
        padding: 8px 20px;
        font-size: 13px;
    }

    .startp-nav nav .others-option .btn.btn-light {
        padding: 6px 20px !important;
    }
}

/* Min width 1200px */
@media only screen and (min-width: 1350px) {
    .container {
        max-width: 1250px;
    }
}